/*Reset styles*/
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: 100%;
   font-weight: normal;
}

ul {
   list-style: none;
}

button,
input,
select {
   margin: 0;
}

html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

img,
video {
   height: auto;
   max-width: 100%;
}

iframe {
   border: 0;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

td,
th {
   padding: 0;
}

:root {
   font-family: 'Roboto', sans-serif;
}

/*Container*/

.container {
   height: 100vh;
   display: grid;
   grid-template-columns: 1fr 5fr;
   grid-template-rows: 1fr 5fr;
}

/*Sidebar*/

.sidebar {
   padding: 2vh 0 0 2vh;
   color: rgb(255, 255, 255);
   grid-row: 1/-1;
   background-color: #1992d4;
   display: grid;
   grid-template-rows: repeat(3, min-content);
   gap: 8vh;
   align-items: baseline;
}

/*Sidebar header*/
.sidebar__header {
   height: min-content;
   display: flex;
   align-items: center;
   gap: 1vw;
   cursor: pointer;
}

.sidebar__header img {
   width: 2.5rem;
}

.sidebar__header h1 {
   font-weight: 500;
   font-size: 24px;
}

/*Sidebar main*/
.sidebar__main {
   display: grid;
   align-items: center;
   height: min-content;
   gap: 2vh;
}

.sidebar__main .main__btn {
   display: flex;
   align-items: center;
   height: min-content;
   gap: 1vw;
}

.sidebar__main .main__btn a {
   font-weight: 500;
   font-size: 16px;
}

.sidebar__main img {
   width: 1rem;
}

/*Sidebar secondary*/
.sidebar__secondary {
   display: grid;
   align-items: center;
   height: min-content;
   gap: 2vh;
}

.sidebar__secondary .secondary__btn {
   display: flex;
   align-items: center;
   height: min-content;
   gap: 1vw;
}

.sidebar__secondary .secondary__btn a {
   font-weight: 500;
   font-size: 16px;
}

.sidebar__secondary img {
   width: 1rem;
}

/*Header*/
.header {
   background-color: rgb(167, 255, 84);
}
.main-content {
   background-color: rgb(247, 173, 36);
}
