/*Reset styles*/
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: 100%;
   font-weight: normal;
}

ul {
   list-style: none;
}

button,
input,
select {
   margin: 0;
}

html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

img,
video {
   height: auto;
   max-width: 100%;
}

iframe {
   border: 0;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

td,
th {
   padding: 0;
}

:root {
   font-family: 'Roboto', sans-serif;
}

/*Container*/

.container {
   height: 100vh;
   display: grid;
   grid-template-columns: 1fr 5fr;
   grid-template-rows: 1fr 5fr;
}

/*Sidebar*/

.sidebar {
   padding: 2vh 0 0 2vh;
   color: rgb(255, 255, 255);
   grid-row: 1/-1;
   background-color: #1992d4;
   display: grid;
   grid-template-rows: repeat(3, min-content);
   gap: 8vh;
   align-items: baseline;
}

/*Sidebar header*/
.sidebar__header {
   height: min-content;
   display: flex;
   align-items: center;
   gap: 1vw;
}

.sidebar__header img {
   width: 2.5rem;
   cursor: pointer;
}

.sidebar__header h1 {
   font-weight: 500;
   font-size: 24px;
   cursor: pointer;
}

/*Sidebar main*/
.sidebar__main {
   display: grid;
   align-items: center;
   height: min-content;
   gap: 2vh;
}

.sidebar__main .main__btn {
   display: flex;
   align-items: center;
   height: min-content;
   gap: 1vw;
}

.sidebar__main .main__btn div {
   font-weight: 500;
   font-size: 16px;
   cursor: pointer;
}

.sidebar__main img {
   width: 1rem;
   cursor: pointer;
}

/*Sidebar secondary*/
.sidebar__secondary {
   display: grid;
   align-items: center;
   height: min-content;
   gap: 2vh;
}

.sidebar__secondary .secondary__btn {
   display: flex;
   align-items: center;
   height: min-content;
   gap: 1vw;
}

.sidebar__secondary .secondary__btn div {
   font-weight: 500;
   font-size: 16px;
}

.sidebar__secondary img {
   width: 1rem;
}

/*Header*/
.header {
   z-index: 2;
   box-shadow: 0px 5px 5px rgb(123, 123, 123);
   background-color: #ffffff;
   display: grid;
   grid-template-columns: 2fr 1fr;
   grid-template-rows: auto auto;
   gap: 25px;
   padding: 15px;
}

/*header search*/

.header__search {
   display: flex;
   align-items: center;
   gap: 10px;
   align-items: center;
}

.header__search input {
   border: none;
   outline: 0;
   background-color: #e2e8f0;
   border-radius: 10px;
   height: 1.6rem;
   width: 100%;
}

.header__search img {
   width: 2vw;
}

/*header info*/

.header__info {
   display: flex;
   align-items: center;
   justify-items: flex-end;
   justify-self: end;
   font-weight: 700;
   gap: 15px;
}

.bell__img {
   width: 2vw;
}

.info__photo {
   width: 3vw;
}

/*Header status*/

.header__status {
   display: grid;
   grid-template-columns: 7vw auto;
   grid-template-rows: auto auto;
   column-gap: 2vw;
}

.header__status img {
   grid-row: 1/-1;
}

.status__hi {
   font-size: 0.9rem;
   font-weight: 700;
   align-self: end;
}

.status__name {
   align-self: start;
   font-weight: 700;
   font-size: 1.3rem;
}

.header__buttons {
   display: flex;
   justify-content: flex-end;
   gap: 1vw;
   align-self: center;
}

.header__buttons button {
   height: 35px;
   width: 7vw;
   color: white;
   border: none;
   background-color: #1992d4;
   border-radius: 4vw;
   font-weight: 700;
}

/*Main*/

.main-content {
   background-color: #e2e8f0;
}
